/* =========================ROOT START================================= */
:root {
    --bg-primary: #ffffff;
    --bg-secondary: var(--bg-primary);
    --bg-header: rgba(0, 0, 0, .90);
    --bg-footer: #000000;
    --link-primary: var(--text-light);
    --link-primary-hover: #cacaca;

    --link-secondary: #003887;
    --link-secondary-hover: #014fb6;

    --text-primary: #ffffff;
    --text-secondary: #d4d4d4;

    --text-light: #ffffff;
    --border-default: 2px solid #979797;
    --img-overlay: rgba(21, 24, 36, .4);
    --button-primary: #003cff;
    --transition-primary: 0.3s ease;
}

/* ========================= ROOT END ================================= */




.header {
    /* background-color: black; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 56px;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
}

.section-title {
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    position: relative;
}

.section-title::after {
    width: 253px;
    height: 3px;
    display: block;
    background-color: #003cff;
    content: '';
}

/* <!-- ---------STARTS ENDS ------------> */


.header_wrapper {
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 82px;

}

.header_item:last-child {
    margin-right: 0;
}

.header_link {
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: var(--text-primary)
}

.header_link:hover,
.header_link:active,
.header_link:focus {
    opacity: .75;
}

/* <!-- ---------HEADER ENDS ------------> */


/* <!-- ---------INTRO STARTS ------------> */
.intro {
    min-height: 100vh;
    background: url(../img/intro-br.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
}

.intro_title {
    max-width: 619px;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    color: var(--text-primary);
    margin-bottom: 22px;
}

.intro_subtitle {
    max-width: 546px;
    color: var(--text-primary);
    margin-bottom: 59px;
}

.search-form-info {
    display: flex;
    flex-wrap: wrap;
}

.search-form_field {
    width: 297px;
    background: transparent url(../img/svg/circle-ico.svg) no-repeat left top;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid var(--text-primary);
    margin-right: 60px;
    padding-bottom: 22px;
    padding-left: 43px;
    color: var(--text-primary);
    font-size: 18px;
}

.search-form_field::placeholder {
    color: var(--text-primary);
}

.seach-form_submit {
    padding: 15px 39px;
    text-transform: uppercase;
    background-color: var(--button-primary);
    color: var(--text-primary);
}

.seach-form_submit:hover,
.seach-form_submit:active,
.seach-form_submit:focus {
    background-color: var(--button-secondary);
    color: var(--text-secondary);
}

/* <!-- ---------INTRO ENDS ------------> */


/* <!-- ---------SEC BENEF starts ------------> */
.benefits {
    margin-bottom: 131px;
}

.benefits_wrap {
    max-width: 1262px;
    margin: 0 auto;
    background-color: var(--bg-primary);
    box-shadow: 0px 2px 20px rgba(21, 24, 36, .10);
    position: relative;
}

.benefits_title {
    width: 100%;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    padding: 99px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: var(--bg-primary);
    margin-bottom: 120px;
}

.benefits_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits_card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits_card-pic {
    margin-bottom: 26px;
}

.benefits_card-title {
    margin-bottom: 39px;
}

.benefits_card-disc {
    margin-bottom: 37px;
}
.benefits_card-href{
    padding-right: 60px;
    background: url(../img/svg/arr-ico.svg) no-repeat 95% 50%;
}
.benefits_card-href:active,.benefits_card-href:hover,.benefits_card-href:focus{
    padding-right: 60px;
    background: url(../img/svg/arr-ico.svg) no-repeat 100% 50%;
}
/* <!-- ---------SEC BENEF ends ------------> */

/* <!-- ---------SEC BENEF ENDS ------------> */
.places {
    margin-bottom: 131px;
}

.places_caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.places_view-all {
    padding-right: 59px;
    text-decoration: none;
    background: url(../img/svg/arr-ico.svg) no-repeat right center;  
}

.places_view-all:hover,
.places_view-all:active,
.places_view-all:focus {
    opacity: .75;
}

/* <!-- ---------SEC PLACES START ------------> */