/* =========================ROOT START================================= */
:root {
    --bg-primary: #ffffff;
    --bg-secondary: var(--bg-primary);
    --bg-header: rgba(0, 0, 0, .90);
    --bg-footer: #000000;
    --link-primary: var(--text-light);
    --link-primary-hover: #cacaca;

    --link-secondary: #003887;
    --link-secondary-hover: #014fb6;

    --text-primary: #ffffff;
    --text-secondary: #d4d4d4;

    --text-light: #ffffff;
    --border-default: 2px solid #979797;
    --img-overlay: rgba(21, 24, 36, .4);
    --button-primary: #003cff;
    --transition-primary: 0.3s ease;
}

/* ========================= ROOT END ================================= */




.header {
    /* background-color: black; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 56px;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
}

.section-title {
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    position: relative;
}

.section-title::after {
    width: 253px;
    height: 3px;
    display: block;
    background-color: #003cff;
    content: '';
}

/* <!-- ---------STARTS ENDS ------------> */


.header_wrapper {
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 82px;

}

.header_item:last-child {
    margin-right: 0;
}

.header_link {
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: var(--text-primary)
}

.header_link:hover,
.header_link:active,
.header_link:focus {
    opacity: .75;
}

/* <!-- ---------HEADER ENDS ------------> */


/* <!-- ---------INTRO STARTS ------------> */
.intro {
    min-height: 100vh;
    background: url(../img/intro-br.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
}

.intro_title {
    max-width: 619px;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    color: var(--text-primary);
    margin-bottom: 22px;
}

.intro_subtitle {
    max-width: 546px;
    color: var(--text-primary);
    margin-bottom: 59px;
}

.search-form-info {
    display: flex;
    flex-wrap: wrap;
}

.search-form_field {
    width: 297px;
    background: transparent url(../img/svg/circle-ico.svg) no-repeat left top;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid var(--text-primary);
    margin-right: 60px;
    padding-bottom: 22px;
    padding-left: 43px;
    color: var(--text-primary);
    font-size: 18px;
}

.search-form_field::placeholder {
    color: var(--text-primary);
}

.seach-form_submit {
    padding: 15px 39px;
    text-transform: uppercase;
    background-color: var(--button-primary);
    color: var(--text-primary);
}

.seach-form_submit:hover,
.seach-form_submit:active,
.seach-form_submit:focus {
    background-color: var(--button-secondary);
    color: var(--text-secondary);
}

/* <!-- ---------INTRO ENDS ------------> */


/* <!-- ---------SEC BENEF starts ------------> */
.benefits {
    margin-bottom: 131px;
}

.benefits_wrap {
    max-width: 1262px;
    margin: 0 auto;
    background-color: var(--bg-primary);
    box-shadow: 0px 2px 20px rgba(21, 24, 36, .10);
    position: relative;
}

.benefits_title {
    width: 100%;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    padding: 99px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: var(--bg-primary);
    margin-bottom: 120px;
}

.benefits_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits_card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits_card-pic {
    margin-bottom: 26px;
}

.benefits_card-title {
    margin-bottom: 39px;
}

.benefits_card-disc {
    margin-bottom: 37px;
}

.benefits_card-href {
    padding-right: 60px;
    background: url(../img/svg/arr-ico.svg) no-repeat 95% 50%;
}

.benefits_card-href:active,
.benefits_card-href:hover,
.benefits_card-href:focus {
    padding-right: 60px;
    background: url(../img/svg/arr-ico.svg) no-repeat 100% 50%;
}

/* <!-- ---------SEC BENEF ends ------------> */

/* <!-- ---------SEC BENEF ENDS ------------> */
.places {
    margin-bottom: 131px;
}

.places_caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places_view-all {
    padding-right: 59px;
    text-decoration: none;
    background: url(../img/svg/arr-ico.svg) no-repeat right center;
}

.places_view-all:hover,
.places_view-all:active,
.places_view-all:focus {
    opacity: .75;
}


.places_cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    /* background-color: #979797; */
}

.places_card-large {
    grid-column: span 3;
}

.places_card-pic {
    object-fit: cover;
    width: 100%;
    display: block;
}

.places_card-pic-lg {
    height: 354px;
}

.places_card-pic-sm {
    height: 283px;
}

.places_card {
    position: relative;
    overflow: hidden;
}

.places_card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.places_card:hover .places_card-pic {
    scale: 103%;

}

.places_card::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, .20);
    top: 0;
    left: 0;
}

.places_card-title {
    position: absolute;
    z-index: 3;
    bottom: 27px;
    left: 29px;
    color: var(--bg-primary);

}

.places_card-small {
    grid-column: span 2;
}

/* <!-- ---------SEC PLACES START ------------> */


/* <!-- -- ---------SEC TOURS STARTS ------------> */
.tours {
    margin-bottom: 160px;

}

.tours_tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;


}

.tour_title {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour_pic_wrap {
    overflow: hidden;
}

.tour_pic {
    display: block;
    height: 354px;
    object-fit: cover;
}

.tour_pic:hover {
    scale: 104%;
}

.tour_desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    padding-right: 40px;
    margin-bottom: 58px;
}

.tours_href {
    text-decoration: none;
    padding-right: 50px;
    background: url(../img/svg/arr-ico.svg) no-repeat 95% center;
}

.tour_info {
    padding-left: 10px;
}

.tours_href:hover,
.tours_href:active,
.tours_href:focus {
    background: url(../img/svg/arr-ico.svg) no-repeat 100% center;
    transition: .2s all;
}

/* <!-- -- ---------SEC TOURS ENDS ------------>  */


/* <!-- -- ---------SEC TOP STARTS ------------> */
.top {
    margin-bottom: 86px;
}

.top_card_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 386px);
    justify-content: space-between;

}

.top_card {
    background-color: #9900ff;
    margin-bottom: 58px;
    height: 567px;
    width: 392px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.top_title {
    margin-bottom: 45px;
}

.top_desc {
    margin-bottom: 31;
}

.top_pic {
    width: 100%;
    margin-bottom: 45px;
}
.top_titles_wrap{
    position: absolute;
    bottom: 15px;
    left: 25px;
}
.see_more {}


/* <!-- -- ---------SEC TOP ENDS ----------- */