<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EXAMPLE</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <!-- ---------HEADER START ------------>
  <div class="header">
    <div class="wrapper">
      <div class="header_wrapper">
        <div class="header_logo">
          <a href="" class="header_logo-link">
            <img src="./img/svg/header-logo.svg" alt="">
          </a>
        </div>
        <div class="header_nav">
          <ul class="header_list">
            <li class="header_item">
              <a href="" class="header_link">
                Articles
              </a>
            </li>
            <li class="header_item">
              <a href="" class="header_link">
                Articles
              </a>
            </li>
            <li class="header_item">
              <a href="" class="header_link">
                Articles
              </a>
            </li>
            <li class="header_item">
              <a href="" class="header_link">
                Articles
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- ---------HEADER ENDS ------------>


  <main class="main">
    <!-- ---------INTRO STARTS ------------>
    <section class="intro">
      <div class="wrapper">
        <h1 class="intro_title">
          Discover Amazing places in Japan
        </h1>
        <p class="intro_subtitle">
          Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with
          belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door,
        </p>
        <form action="" class="search-form">
          <field class="search-form_wrap">
            <p class="search-form-info">
              <input type="text" class="search-form_field">
              <input type="text" class="search-form_field">
              <button class="seach-form_submit">Search</button>
            </p>
          </field>

        </form>
      </div>


    </section>
    <!-- ---------INTRO ENDS ------------>
  </main>

</body>

</html>