<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>EXAMPLE</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
   <div class="item"></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
<section class="features">
  <div class="container">
    <h2 class="features__title">EXAMPLE</h2>


    <div class="features__grid">
      <div class="feature-card">
        <h3>EXAMPLE</h3>
        <p>EXAMPLE</p>
      </div>


          </div>
  </div>
</section>
<a href="/about">EXAMPLE</a>
</body>
</html>

